$pixel-size: 20px;

.game_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_title {
  font-size: 18px;
  color: grey;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  width: $pixel-size * 16;
  height: $pixel-size * 16;
}

.row {
  display: flex;
}

.pixel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $pixel-size;
  height: $pixel-size;
  background-color: none;
}

.pixel::before {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  background-color: grey;
}

.snake_head {
  composes: pixel;
  background-color: green;
  border: 1px solid white;
}

.snake_body {
  composes: pixel;
  background-color: rgb(140, 200, 40);
  border: 1px solid white;
}

.food {
  composes: pixel;
  color: red;
}
