.died {
  color: red;
  font-size: 38px;
}

.died_button {
  margin: 0 auto;
  padding: 8px 16px;
  border: 1px solid red;
  color: red;
  font-size: 20px;
  transition: border-color 200ms ease, color 200ms ease;
  background: none;
}

.died_button:hover {
  border-color: lighten(red, 30);
  color: lighten(red, 30);
}
